@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Projeto Data Science - HAL 9000</h1>
        <p class="lead">Queremos transformar dados em lucro</p>
    </div>

    <div class="mt-4">
        <h2>Análises em Dashboard Power BI</h2>
        <ul>
            <li><strong>Análise Temporal e Categorial:</strong> Exploramos tendências ao longo do tempo e diferenças nas taxas de disputa entre diferentes tipos de produtos financeiros.</li>
            <li><strong>Análise de Reclamações por Empresa:</strong> Analisamos a quantidade e o percentual de reclamações disputadas por empresa.</li>
            <li><strong>Análise de Sazonalidade e Região Demográfica:</strong> Investigamos como fatores sazonais e demográficos influenciam as reclamações.</li>
            <li><strong>Comparação de Bancos:</strong> Desenvolvemos modelos para comparar políticas de atendimento ao cliente e eficácia das respostas entre diferentes instituições.</li>
        </ul>
    </div>

    <div class="mt-4">
        <h2>Desenvolvimento de Modelos de Machine Learning</h2>
        <ul>
            <li><strong>Modelo de Previsão de Disputas:</strong> Utilizamos técnicas de classificação para prever disputas em reclamações.</li>
            <li><strong>Análise de Sentimento da Narrativa do Consumidor:</strong> Aplicamos processamento de linguagem natural para identificar sentimentos expressos nas reclamações.</li>
            <li><strong>Identificação de Oportunidades de Vendas:</strong> Analisamos textos para detectar expressões chave que sinalizam oportunidades de vendas.</li>
            <li><strong>Modelos de Tópicos:</strong> Identificamos os principais tópicos das reclamações utilizando LDA ou métodos estatísticos similares.</li>
            <li><strong>Análise da Distribuição de Frequência de Palavras:</strong> Implementamos a lei de Benford para detectar padrões incomuns que podem indicar fraudes ou tendências.</li>
        </ul>
    </div>
</div>


